.card {
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  background: #fff;
  padding: 15px;
  margin:50px;
}

.card:hover {
  transform: scale(1.05);
  color:rgb(76, 76, 255)
}

.image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-bottom: 2px solid #f1f1f1;
}
.outerDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  transition: margin-left 0.3s ease-in-out;
}
.cardContent {
  padding: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.offerText {
  color: #ff6600;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.link {
  display: inline-block;
  padding: 8px 12px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.link:hover {
  background: #0056b3;
}
