*{
  padding: 0;
  margin: 0;
}
.main{
  padding:10px;
  margin-top: 70px;
  /* background-color: rgb(202, 161, 161); */
  background: rgba(221, 228, 235, 0.6);  
}
.para{
  font-size: 20px;
}
ul li{
  list-style-type: square;
  font-size: 20px;
  font-weight: 400;
}
.intro{
  line-height:30px;
}
p{
  font-weight: 400;
  font-size: 20px;
}