.card {
  width: 22rem;
  min-width:20rem;
  border-radius: 1.25rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImg {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}

.cardContent {
  padding: 1.25rem;
}

.foodType {
  color: orange;
  text-align: center;
  font-size: 1.25rem; /* Increased font size */
}

.cardTitle {
  font-size: 25px; /* Larger font size */
  font-weight: 700; /* Bolden the title */
  margin-bottom: 0.5rem; /* Increased space below the title */
  overflow: hidden;
}

.cardRestaurant {
  font-size: 1rem; /* Larger font size */
  color: #4b5563;
  margin-bottom: 0.5rem; /* Increased margin-bottom */
}

.rating {
  display: flex;
  align-items: center;
  color: #fbbf24;
  font-size: 1.25rem; /* Larger font size for rating */
}

.starIcon {
  margin-right: 0.5rem; /* Increased space between star and rating */
}

.ratingValue {
  font-weight: 600; /* Bold the rating value */
}
